<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/font-awesome.css">

    <script src="../js/jquery-1.12.3.min.js"></script>
    <script src="../js/bootstrap.js"></script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Title</a>
			</div>
	
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav> <!-- end nav bar -->

	<div class="profile">
		<div class="container">
			<div class="row">
				<div class="info col-xs-8 col-sm-8 col-md-8 col-lg-8">
					<div class="info">
						<div class="row">
							<div class="avatar col-xs-4 col-sm-4 col-md-4 col-lg-4">
								<img src="../imgs/avatar.png" class="img-responsive" alt="Image">
							</div>
							<div class="text-info col-xs-8 col-sm-8 col-md-8 col-lg-8">
								<h3 class="name">Jason Nguyen</h3>
								<p class="nick-name">@jasonnguyen93</p>
								<p class="status">Status: stay hungry, stay foolish..</p>
								<button type="button" class="btn btn-default">Add Friend</button>
								<button type="button" class="btn btn-primary">View Gallery</button>
							</div>
							
						</div>
						<div class="row">
							<div class="about">
								<p class="friends"><b>Friend</b> 500</p>
								<p class="followers"><b>Followers</b> 500</p>
								<p class="followings"><b>Followings</b> 500</p>

							</div>
						</div>
					</div>
				</div>
				<div class="friend col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<h1>Some text here</h1>
				</div>
			</div>
			<div class="row">
				<div class="doing">
					<div class="timeline col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<p class="name-timeline">Jason's Timeline</p>
						<p>Recent Activities</p>
						<p>Recent Stories</p>
					</div>
					<div class="new-feed col-xs-9 col-sm-9 col-md-9 col-lg-9">
						<p class="now">Json is LIVE now...</p>
						<div class="one-new">
							<div class="row">
								<div class="info col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="row">
										<div class="avatar-info col-xs-3 col-sm-3 col-md-3 col-lg-3">
											<img src="../imgs/avatar.png" class="img-responsive" alt="Image">
										</div>
										<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
											<div class="name">Sky'ss <p>10 mins<p></div>
											<div class="plan"><p>Is planning to ...</p> <p class="now-doing">LIVE Music</p></div>
										</div>
									</div>
								</div>
								<div class="where col-xs-6 col-sm-6 col-md-6 col-lg-6">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>